spring:
  application:
    name: spring-cloud-gateway
  profiles:
    active: DEV
  main: 
     lazy-initialization: true
     allow-bean-definition-overriding: true
  freemarker: 
    check-template-location: false
  data:
    redis:
      host: localhost
      port: 6379
  cloud:
    gateway:
      filter:
        secure-headers.frame-options: SAMEORIGIN

server:
  port: 9095
 #  ssl: 
 #   enabled: true
 #   key-store: classpath:keystore.p12
 #   key-store-password: thirumal
 #   key-store-type: PKCS12
 #   key-alias: gateway
  compression:
    enabled: true
  error:
    whitelabel:
      enabled: false
  shutdown: graceful

#Actuator
management:
  endpoint:
    restart: 
      enabled: true

logging: 
  file:
    path: logs/
    name: logs/spring-cloud-gateway.log
  level:
    '[in.thirumal]': debug
  logback: 
    rollingpolicy: 
      max-history: 10
      max-file-size: 100MB
      total-size-cap: 1GB

--- 
eureka:
  instance:
    instanceId: ${spring.cloud.client.hostname}:${spring.application.name}:${random.int[1,999999]}
    appname: spring-cloud-gateway
    leaseRenewalIntervalInSeconds: 10
    preferIpAddress: true
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://thirumal:thirumal@3.6.239.198:8761/eureka/
google:
  recaptcha:
    key:
      site: REPLACE_IT_WITH_SITE_ID
      secret: REPLACE_IT_WITH_KEY
      threshold: 0.5